<h1>Add comment to Job:<h1> 
<h2><%= @job.desc %></h2>

<%= form_for @comment do |f|%>
    <%= f.label :comment %>
    <%= f.text_field :comment, :required => true %>
    <%= f.hidden_field :job_id, value: @job.id %>
    <%= f.hidden_field :user_id, value: @current_user.id %>
    <%= f.submit "Add comment" %>
<% end  %>

<% if @job.comments.exists? %>
    Existing comments:
    <ul>
    <% @job.comments.order(:created_at).reverse_order.each do |comment| %>
        <li><%= comment.created_at.strftime '%B %d, %Y, %l:%M %p' %> ***
        <%= comment.comment %> ***
        <%= comment.user.first_name %> ***
        (<%= comment.user.email %>)</li> 
        <!-- Comment owner only -->
        <% if comment.user_id == @current_user.id %>
        <%= link_to "Edit comment", edit_comment_path(comment) %>
          <%= link_to "Delete comment", comment_path(comment), :method => 'delete', :data => { :confirm => 'Are you sure?'} %>
        <% end  %>
    <% end %>
</ul>
<% end  %>

