<!-- Renders validation error messages  -->
<% if @job.errors.any? %>
    <ul>
        <% @job.errors.full_messages.each do |msg| %>
        <li class="error"> <%= msg %></li>
        <% end  %>
    </ul>
<% end  %>

<%= form_for @job, :html => {:multipart => true} do |f| %>

    <%= f.label :title %>
    <%= f.text_field :title, :required => true %>
    <%= f.label :desc, "Description" %>
    <%= f.text_area :desc, :size => "50x10", :required => true %>
    <%= f.label :categories, "Categories:" %>
    <%= f.collection_check_boxes :category_ids, Category.all, :id, :name, :required => true %> <br>
    <%= f.label :price, "Price $"%>
    <%= f.number_field :price, :required => true %>
    <%= f.label "Photo" %>
    <%= f.cl_image_upload :image_1 %>
     <%= f.label :image_2, "Image 2 URL" %>
    <%= f.text_field :image_2 %>
    <%= f.label :image_3, "Image 3 URL" %>
    <%= f.text_field :image_3 %>
    <%= f.submit %>



<% end %>
