<h1 class="page-heading">All Jobs</h1>

    <div class="index-links">
        <%= link_to "Newest to Oldest", :sort => "created_at" %>
        <%= link_to "Oldest to Newest", :sort => "created_at_reverse" %>
        <%= link_to "Price Low to High", :sort => "price" %>
        <%= link_to "Price High to Low", :sort => "price_reverse" %>
        <%= link_to "Jobs near me",  :sort => "distance" %>
    </div>

<%= render :partial => 'cards' %>



    