

<h1>Post a new job for:</h1>
<h2><%= @current_user.first_name %> <%= @current_user.last_name %> </h2>
<h3><%= full_address(@current_user) %></h3>

<% if full_address_not_supplied %>
    <p><%= "You can't post a job yet. You haven't provided your address details." %></p>
    <%= link_to "Update your profile now!", edit_user_path(@current_user), :class => 'btn btn-warning' %></p>
<% else %>
    <%= render :partial => 'form' %>
<% end %>