<div class="row center">
    <h1 class="page-heading">Post a new job for:</h1>
    <h2 class="page-subheading"><%= @current_user.first_name %> <%= @current_user.last_name %> </h2>
    <% unless full_address_not_supplied %>
        <h3 class="job-full-address"><%= full_address(@current_user) %></h3>
    <% end %>

    <div class="col-md-5">
        <% if full_address_not_supplied %>
            <p><%= "You can't post a job yet. You haven't provided your address details." %></p>
            <%= link_to "Update your profile now!", edit_user_path(@current_user), :class => 'btn btn-warning' %></p>
        <% else %>
            <div class="form">
                <%= render :partial => 'form' %>
            </div>
        <% end %>
    </div>

  <div class="col-md-1"></div>

  <div class="col-md-6 d-flex flex-column justify-content-center">
        <%= image_tag( 'hedge.jpg', :class => "image-hero", :alt => "Hedge being cut by a power tool" ) %>
        <%= image_tag( 'rake.jpg', :class => "image-hero", :alt => "Rake tidying up leaves" ) %>
  </div>

</div>