<h1>Edit your details - <%= @user.first_name %></h1>
<div class="row">

    <div class="col-md-4">
        <!-- Renders validation error messages  -->
        <% if @user.errors.any? %>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                    <li class="error"> <%= msg %></li>
                <% end  %>
            </ul>
        <% end  %>
        <div class="form">
            <%= form_for @user do |f| %>

                <%= f.label :first_name, :class => 'form-label' %>
                <%= f.text_field :first_name, :required => true, :class => 'form-control' %>
                <%= f.label :last_name, :class => 'form-label' %>
                <%= f.text_field :last_name, :required => true, :class => 'form-control' %>
                <%= f.label :email, :class => 'form-label' %>
                <%= f.email_field :email, :required => true, :class => 'form-control' %>
                <%= f.label :address_num, "House/Apt No.", :class => 'form-label' %>
                <%= f.text_field :address_num, :required => true, :class => 'form-control' %>
                <%= f.label :address_street, "Street", :class => 'form-label' %>
                <%= f.text_field :address_street, :required => true, :class => 'form-control' %>
                <%= f.label :address_suburb, "Suburb", :class => 'form-label' %>
                <%= f.text_field :address_suburb, :class => 'form-control' %>
                <%= f.label :address_city, "City", :class => 'form-label' %>
                <%= f.text_field :address_city, :required => true, :class => 'form-control' %>
                <%= f.label :address_postcode, "Postcode", :class => 'form-label' %>
                <%= f.text_field :address_postcode, :required => true, :class => 'form-control' %>
                <%= f.label :address_country, "Country", :class => 'form-label' %>
                <%= f.text_field :address_country, :required => true, :class => 'form-control' %>
                <%= f.label :phone, :class => 'form-label' %>
                <%= f.telephone_field :phone, :class => 'form-control' %>
                
                <%= f.submit "Save Changes", :class => 'btn btn-primary btn-lg form-submit' %>

            <% end %>

            <%= link_to "Change Password", edit_user_password_path(@current_user), :class => 'btn btn-warning btn form-submit' %>

