<h1>Change your password -  <%= @user.first_name %></h1>

<div class="row">
    <div class="col-md-4">
<!-- Renders validation error messages  -->
        <% if @user.errors.any? %>
            <ul>
                <% @user.errors.full_messages.each do |msg| %>
                <li class="error"> <%= msg %></li>
                <% end  %>
            </ul>
        <% end  %>
        <div class="form">
            <%= form_for(@user, html: { multipart: true, :onsubmit => "validate()" }) do |f| %>
                <%= f.label :password , "New Password", :class => 'form-label' %>
                <%= f.password_field :password, :required => true, :class => 'form-control' %>
                <%= f.label :password_confirmation, :class => 'form-label' %>
                <%= f.password_field :password_confirmation, :required => true, :class => 'form-control' %>            
                <%= f.submit "Change Password", :class => 'btn btn-primary form-submit' %>
            <% end %>
        </div>
    </div>
    <div class="col-md-8"></div>
</div>






