<div class="row home-container">
    <div class="col-lg-4 col-md-4">
        <h1>Welcome to YardFixer</h1>
        <ul>
            <li><%= link_to "All Jobs", jobs_path, :class => 'link-primary home-link' %>
            <li><%= link_to "Post a job", new_job_path, :class => 'link-primary home-link'  %></li>
            <li><%= link_to "My Posted Jobs", my_jobs_path(@current_user), :class => 'link-primary home-link' %></li>
            <li><%= link_to "My Assigned Jobs", my_assigned_jobs_path(@current_user), :class => 'link-primary home-link' %></li>
            <li><%= link_to "Edit my Profile", edit_user_path(@current_user), :class => 'link-primary home-link' %></li>
            <li><%= link_to "Change Password", edit_user_password_path(@current_user), :class => 'link-primary home-link' %></li>
        </ul>

        <h2 class="home-search-header">Search for jobs</h2>
        
        <div class="home-search-container">
            <%= form_tag(search_path, :method => "get") do %>
                <%= search_field_tag :search, params[:search], placeholder: "Mowing", class: "form-control form-control-homesearch"  %>
                <%= button_tag "Go", :name => nil, :class => "btn btn-success btn-home-search" %>
            <% end %>
        </div>
    </div>

    <div class="col-lg-8 col-md-8">
        <%= image_tag( 'perfect_lawn.jpg', :class => "image-hero image-hero-homepage", :alt => "Weeds being sprayed with herbicide" ) %>
    </div>
</div>






